exportPattern("^[[:alpha:]]+")
S3method(plot, Dimora)
S3method(predict, Dimora)
S3method(summary, Dimora)


importFrom("graphics", "curve", "par", "plot")
importFrom("stats", "optim", "qnorm")
import(deSolve)

importFrom("forecast","Arima")
importFrom("graphics", "abline", "lines")
importFrom("stats", "acf", "coef", "fitted", "predict", "residuals","sd")



importFrom("minpack.lm","nls.lm","nls.lm.control")
import("numDeriv")
importFrom("reshape2","melt")

